*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    box-shadow: #000000 0px 1px 2px 0px;
}

#header{
    width: 100%;
    height: 56px;
    background: #fff;
   display: flex;
    justify-content: space-between;
    
}
.clear{
    clear: both;
}
.search-btn{
    flex-direction: column;
    line-height: 56px;
}
#header .search-btn img{
    width: 40px;
    color: #385898;
    font-size: 10px;
    line-height: 16px;
    border-radius: 50%;
    display:block;
    float: left;
    margin:8px 10px 0px 16px;
}
#header .search-btn input{
    width: 280px;
    height: 40px;
    background-color: #f0f2f5;
    border-radius: 50px;
    color: #050505;
    display: inline-block;
    border: none;
    font-size: 17px;
    padding: 7px 16px 9px 13px;
    outline: none;
    font-weight: 510;   
}
.nav{
    list-style-type: none;
    display: flex;
    align-items: center;
    /* padding-left: 168px; */
}
.nav li{
    width: 130px;
    text-align: center;
    padding: 12px 0;
}
.nav li:hover{
    background-color: #f5f1f1e8;
    border-radius: 16px;    
}
#header .functions-btn{
    display: flex;
    align-items: center;
    margin-right: 16px;
}
#header .functions-btn .facebook-name{
    width: 156px;
    height: 36px;
    border-radius: 18px;
    align-items: center;
    background-color: #e7f3ff;
    color: #385898;
    display: flex;
    font-size: 12px;
    padding-left: 4px;
    cursor: pointer;
    
}

.functions-btn .facebook-name img{
    width: 28px;
    height: 28px;
    border-radius: 15px;
    
}
.functions-btn .facebook-name h1{
    font-size: 15px;
    height: 19px;
    overflow: hidden;
    color: #1877f2;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-top:1px ;
    font-weight: 550;
}
.functions-btn .functions{
    list-style-type: none;
    display: flex;
    
}
.functions-btn .functions li{
    width: 40px;
    height: 40px;
    background-color: #e4e6eb;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-left: 10px;
}

.functions-btn .functions li:last-child{
    padding-bottom: 4px;
}

.functions-btn .functions li:hover{
    background-color: #CCCCCC;
}
.functions-btn .facebook-name:hover{
    opacity: 0.8;
}
#information-menu {
    display: flex;
    
}
#information-menu .background{
    width: 1519px;
    height: 406px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-self: center;
}

#information-menu .background img{
    width: 1095px;
    height: 538px;
    position: relative;
     
}
#information-menu .background span{   
    height: 36px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 6px;
    font-size: 13px;
    padding: 0 12px;
    position: absolute;
    left: 950px;
    top: 412px;
    justify-content: center;
    transform: translateX(170px);
}

.background span b{
    margin-left: 8px;
    padding-top: 3px;
    font-family: Arial, Helvetica, sans-serif;

}
.infoFB {
    position: absolute;
    top: 306px;
    left: 0px;
    right: 0px;
    font-family: 'Open Sans', sans-serif;
    
}
.infoFB .avatar {
    background-color: white;
    width: 178px;
    height: 178px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.infoFB .avatar img {
    width: 168px;
    height: 168px;
    border-radius: 50%;
}
.infoFB .infoName{
    text-align: center;
    line-height: 1.4;
}
.infoFB .infoName h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 700;
}
.infoFB .infoName span{
    font-size: 17px;
    color: #65676b;
}
.infoFB .infoName a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #1877f2;
}
.infoFB .infoName a:hover{
    text-decoration: underline;
}
.listAbout {
    width: 70%;
    margin: auto;
    
}
.listAbout .path {
    height: 1px;
    width: 1050px;
    margin-top: 124px;
    background-color: #b5b6b8;
}
.listAbout .listItem {
    display: flex;
    justify-content: space-around;
    height: 60px;
    width: 100%;
} 
.listAbout .listItem div {
    height: 50px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
}

.listAbout .listItem .line1, .listAbout .listItem .line2, .listAbout .listItem .line3, .listAbout .listItem .line4, .listAbout .listItem .line5 {
    height: 50px;
    position: absolute;
    bottom: 0;
    
}
.listAbout .listItem .addStory {
    width: 130px;
    height: 34px;
    margin: 13px 0;
    background-color: #1877f2;
    color: white;
    border-radius: 6px;
    margin-right: -30px;

}

.listAbout .listItem .setting {
    height: 34px;
    margin: 13px 0;
    background-color: #e4e6eb;
    border-radius: 10px;
    margin-right: -30px;
    
}

.listAbout .listItem .something {
    width: 48px;
    height: 36px;
    margin: 13px 0;
    background-color: #e4e6eb;
    border-radius: 10px;
    margin-right: 2px;
}
.content{
    background-color: #f0f2f5;
    height: 500px;
}
